* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus-visible {
  outline: 2px solid var(--gray-500);
  outline-offset: 4px;
  border-radius: 1px;
}

*:focus:not(:focus-visible) {
  outline: none;
}

body {
  background-color: #ffffff;
}

button {
  border: none;
  box-shadow: none;
}

/* font sizes */
:root {
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.375rem;
  --text-3xl: 1.5rem;
  --text-4xl: 1.625rem;
  --text-5xl: 1.75rem;
  --text-6xl: 1.875rem;
  --text-7xl: 2rem;
}
